body {
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    width: 10%;
    margin: 0 auto 0 auto;
    text-align: center;
}
div {
    background-color: rgb(188, 215, 216);
    text-align: center;
}
.top-container {
    background-color: rgb(197, 225, 224);
    position: relative;
    padding-top: 100px;
}

.top-cloud {
position: absolute;
right: 300px;
top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.lady-img {
  
    float: left;
    margin-right: 30px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1;
}
